body::before {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed; }

.view {
  width: 80%;
  margin: auto; }

md-grid-list {
  margin: 8px; }

.gray {
  background: #f5f5f5; }

.green {
  background: #b9f6ca; }

.yellow {
  background: #ffff8d; }

.blue {
  background: #84ffff; }

.purple {
  background: #b388ff; }

.red {
  background: #ff8a80; }

md-grid-tile {
  transition: all 400ms ease-out 50ms; }
